@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>资质评估系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="main-default-body">
    <div class="site-wrapper">
        <div class="site-head">
            <img src="~/Content/images/logo.png" width="23" />
            资质评估系统
        </div>
        <div class="site-inner">
            <div class="inner-cover">
                <p>
                    <h1 class="cover-heading">互联网时代的评估工具</h1>
                </p><br />
                <p class="lead">
                    让工作更简单
                </p>
                <p class="lead">
                    资质评估系统是为企业打造的人员资质评估工具，功能包括指标库管理、权重计算、检查评估、统计分析，能快速完成评估工作。
                </p>
                <p class="lead" style="margin-top:50px;">
                    <a href="/Home/Register" class="btn btn-lg btn-cus">注册企业管理员</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Home/Login" class="btn btn-lg btn-cus2">我要登陆</a>
                </p>
            </div>
        </div>
        <div style="color: #FFF; opacity:.4; margin-top:100px; padding-right:50px; width:100%; text-align:right;">
            - 没有什么能够阻挡，你对自由的向往。
        </div>
        <div style="width:100%; margin-top:50px; margin-bottom:50px;">
            <hr style="opacity:.4;" />
        </div>
        <div style="width:100%; text-align:center; display:none;">
            <span class="site-default-foot-menu">
                <a href="#">
                    关于我们
                </a>
            </span>
            <span class="site-default-foot-menu">
                <a href="#">
                    联系我们
                </a>
            </span>
            <span class="site-default-foot-menu">
                <a href="#">
                    隐私声明
                </a>
            </span>
            <span class="site-default-foot-menu">
                <a href="#">
                    数据安全
                </a>
            </span>
            <span class="site-default-foot-menu">
                <a href="#">
                    服务条款
                </a>
            </span>
        </div>
        <div style="width: 100%; text-align: center; color: white; opacity: .4; margin-top:50px; margin-bottom:50px;">
            © 2016&nbsp; &nbsp;资质评估系统&nbsp;&nbsp; www.zzpgxt.com&nbsp;&nbsp;&nbsp;&nbsp;京ICP备16008173号-1
        </div>
    </div>
</body>
</html>
