@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>找回密码</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        input {
            margin-bottom: 10px;
        }
    </style>
    <script>
        function GetPassword() {
            if ($("#getPasswordForm").valid()) {
                var jsonObj = $("#getPasswordForm").serializeArray();
                $.post("/Home/SendGetPasswordEmail", jsonObj,
                function (data) {
                    if (!data.result) {
                        //alert(data.message);
                        $.messager.popup(data.message);
                        return;
                    }
                    else {
                        alert("已经将重置密码的链接发送到邮箱，请登录邮箱查看。");
                        window.location.href = '/Home/Index';
                    }
                });
            }
        }

        $(document).ready(function(){
            $("#getPasswordForm").validate();
        });
    </script>
</head>
<body style=" background-color:#f7f6f2;">
    <div class="container">
        <form class="form-signin" role="form" method="post" id="getPasswordForm">
            <div class="form-group-lg">
                <h3 class="form-signin-heading">找回密码</h3>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">邮箱</label>
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" data-val-required="邮箱必填" data-val="true" data-val-email="邮箱地址不正确" style="max-width:280px;" placeholder="邮箱" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputCheckCode" class="sr-only">验证码</label>
                <img src="/Home/VerifyImage" id="VerifyImage" title="看不清？点击换一个" onclick="javascript:document.getElementById('VerifyImage').src='@Url.Action("VerifyImage", "Home")?r='+Math.random();return false;" width="80" />
                &nbsp;&nbsp;<input type="text" id="inputCheckCode" name="inputCheckCode" class="form-control pull-left" data-val-required="验证码必填" data-val="true" style="max-width:200px;" placeholder="验证码" required>
            </div>
            <div class="form-group">
                @Html.ValidationSummary()
            </div>
            <div class="form-group-lg">
                <button class="btn btn-success btn-lg btn-block form-control" type="button" style="max-width: 280px;" onclick="GetPassword();">找回密码</button>
            </div>
        </form>

        <footer>
            <div class="container">
                <center>
                    <p class="text-muted">&copy; @DateTime.Now.Year - 资质评估系统 - www.zzpgxt.com  -  服务信箱：service@zzpgxt.com</p>
                </center>
            </div>
        </footer>
    </div>
</body>
</html>



