@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重置密码</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        input {
            margin-bottom: 10px;
        }
    </style>
    <script>
        function SetPassword() {
            if ($("#setPasswordForm").valid()) {
                var jsonObj = $("#setPasswordForm").serializeArray();
                $.post("/Home/SetPasswordSubmit", jsonObj,
                function (data) {
                    if (!data.result) {
                        //alert(data.message);
                        $.messager.popup(data.message);
                        return;
                    }
                    else {
                        alert("操作成功。");
                        window.location.href = '/Home/Index';
                    }
                });
            }
        }

        $(document).ready(function () {
            $("#setPasswordForm").validate();
        });
    </script>
</head>
<body style=" background-color:#f7f6f2;">
    <div class="container">
        <form class="form-signin" role="form" method="post" id="setPasswordForm">
            <div class="form-group-lg">
                <h3 class="form-signin-heading">重置密码</h3>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">新密码</label>
                <input type="hidden" value="@ViewBag.UserID" name="inputUserID" />
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" data-val-required="密码必填" data-val="true" style="max-width: 280px;" placeholder="密码" required>
            </div>
            <div class="form-group">
                <label for="inputCheckCode" class="sr-only">验证码</label>
                <img src="/Home/VerifyImage" id="VerifyImage" title="看不清？点击换一个" onclick="javascript:document.getElementById('VerifyImage').src='@Url.Action("VerifyImage", "Home")?r='+Math.random();return false;" width="80" />
                &nbsp;&nbsp;<input type="text" id="inputCheckCode" name="inputCheckCode" class="form-control pull-left" data-val-required="验证码必填" data-val="true" style="max-width:200px;" placeholder="验证码" required>
            </div>
            <div class="form-group">
                @Html.ValidationSummary()
            </div>
            <div class="form-group-lg">
                <button class="btn btn-success btn-lg btn-block form-control" type="button" style="max-width: 280px;" onclick="SetPassword();">确定</button>
            </div>
        </form>

        <footer>
            <div class="container">
                <center>
                    <p class="text-muted">&copy; @DateTime.Now.Year - 资质评估系统 - www.zzpgxt.com  -  服务信箱：service@zzpgxt.com</p>
                </center>
            </div>
        </footer>
    </div>
</body>
</html>




